@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a2222;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 360px;
  padding: 30px;
  background-color: #d1dae0;
  border-bottom: 4px solid #abb5b8;
  box-shadow: 8px 8px 0px 0px #000000;
}
.row:not(:first-child) {
  margin-top: 25px;
}
.row-title,
section input {
  font-size: 1em;
  font-weight: bold;
  color: #696969;
  padding-left: 8px;
}
section input {
  border: none;
}
.row-content {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  display: block;
  width: 100%;
  margin-top: 15px;
}
.row-content input,
.row-content input:focus {
  padding: 7px;
  color: #000000;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.row-content input {
  background-color: transparent;
}
.row-content input:focus {
  background-color: #a0aaad;
}
.row-content input:focus::selection {
  background: #fff3a3;
}
.row-content input:focus::-moz-selection {
  background: #fff3a3;
}

/*========== Theme Golden ==========*/

.theme-golden {
  font-family: 'Playfair Display', serif;
  background: #ffc42b;
  border-top: 2px solid #ffd979;
  border-bottom-color: #b48700;
}
.theme-golden .row,
.theme-golden .row-content input {
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.theme-golden .row-content input {
  font-style: italic;
}
.theme-golden .row-content input:focus {
  background-color: #B68B1B;
}
.theme-golden .row-content input:focus::selection {
  background: #ffea98;
}
.theme-golden .row-content input:focus::-moz-selection {
  background: #ffea98;
}
.theme-golden .row {
  position: relative;
  z-index: 1;
}
.theme-golden .row:before {
  border-top: 1px solid #d4990d;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.theme-golden .row-title {
  color: #936508;
  background: #ffc42b;
  padding: 0 7px;
}

/*========== Media Queries ==========*/

@media (max-width: 415px) {
  .theme-golden {
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media (max-height: 515px) {
  html {
    height: auto;
  }
  body  {
    margin: 20px 0;
  }
}
